{% extends 'partials/blank.html' %}
{% load static %}



    {% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">لیست دسته بندی</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">feel free to explore</a></p>
                
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            {% for c in categories %}
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">{{c.title}}</p>
                    <a href="{% url 'core:category-product-list' c.cid %}" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="{{ c.image.url }}" alt="">
                    </a>
                    

                    <h5 class="font-weight-semi-bold m-0">محصول {{c.category.count}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}

