{% extends 'partials/blank.html' %}

{% load static %}

{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            &nbsp;
            &nbsp;
            <h1 class="font-weight-semi-bold text-uppercase mb-3">فروشگاه</h1>
            <div class="d-inline-flex">
                
                
                <h4 class="m-10">با استفاده از فیلتر ها مناسب ترین محصول را برای خود انتخاب کنید</h4>
            </div>
            &nbsp;
            &nbsp;
            <div class="d-inline-flex">
                <p class="p-left">{{products.count}} محصول </p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                
                
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">دسته بندی</h5>
                    <div class="mb-5">
                        {% for c in categories %}
                        <ul>
                            <li>
                                <input type="checkbox" data-filter="category" class="form filter-checkbox" name="checkbox" id="exampleCheckbox1" value="{{c.id}}">
                                <a href="{% url 'core:category-product-list' c.cid %}">{{c.title}}</a>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">فعلا نمیدونم</h5>
                    <div class="mb-5">
                        {% for v in vendors %}
                        <ul>
                            <li>
                                <input type="checkbox" data-filter="Vendor" class="formxc filter-checkbox" name="checkbox" id="exampleCheckbox2" value="{{v.id}}">
                                <label class="formxc filter-checkbox" for="exampleCheckbox2">{{v.title}}</label>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>

                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">نوع دفتر </h5>
                    <div class="mb-5">
                        {% for t in typecategory %}
                        <ul>
                            <li>
                                <input type="checkbox" data-filter="typecategory" class="formxc filter-checkbox" name="checkbox" id="exampleCheckbox3" value="{{t.id}}">
                                <label class="formxc filter-checkbox" for="exampleCheckbox3">{{t.title}}</label>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">سایز</h5>
                    <div class="mb-5">
                        {% for s in sizecategory %}
                        <ul>
                            <li>
                                <input type="checkbox" data-filter="sizecategory" class="formxc filter-checkbox" name="checkbox" id="exampleCheckbox4" value="{{s.id}}">
                                <label class="formxc filter-checkbox" for="exampleCheckbox4">{{s.title}}</label>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">هدف</h5>
                    <div class="mb-5">
                        {% for tg in tagcategory %}
                        <ul>
                            <li>
                                <input type="checkbox" data-filter="tagcategory" class="formxc filter-checkbox" name="checkbox" id="exampleCheckbox5" value="{{tg.id}}">
                                <label class="formxc filter-checkbox" for="exampleCheckbox5">{{tg.title}}</label>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">رنگ</h5>
                    <div class="mb-5">
                        {% for cc in colorcategory %}
                        <ul>
                            <li>
                                <input type="checkbox" data-filter="colorcategory" class="formxc filter-checkbox" name="checkbox" id="exampleCheckbox6" value="{{cc.id}}">
                                <label class="formxc filter-checkbox" for="exampleCheckbox6">{{cc.title}}</label>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">زبان </h5>
                    <div class="mb-5">
                        {% for l in languagecategory %}
                        <ul>
                            <li>
                                <input type="checkbox" data-filter="languagecategory" class="formxc filter-checkbox" name="checkbox" id="exampleCheckbox7" value="{{l.id}}">
                                <label class="formxc filter-checkbox" for="exampleCheckbox7">{{l.title}}</label>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                
                    
                    <div class="row products" id="filtered-product">
                        {% for p in products %}
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <a href="{% url 'core:product-detail' p.pid %}">
                                        <img class="img-fluid w-100" src="{{p.image.url }}" alt="">
                                    </a>
    
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">{{ p.title }}</h6>
                                    <h6 class="ligh">دسته بندی: {{ p.category }}</h6>
                                    <br> 
                                    <div class="d-flex justify-content-center">
                                        <h6 class="current-product-price-{{ p.id }}">{{ p.price }} </h6><sup>- {{ p.get_precentage|floatformat:0 }}%</sup> <h6 class="text-muted ml-2"><del>{{ p.old_price }}</del></h6><span> تومن </span>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>جزییات</a>
                                    <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{p.id}}">
                                    <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                    <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                    <input type="hidden" class="product-id-{{p.id}}" value="{{p.id}}">
                                    <input type="hidden" class="product-title-{{p.id}}" value="{{p.title}}">
                                    <button  class="btn btn-sm text-dark p-0 add-to-cart-btn" data-index="{{ p.id }}" id="add-to-cart-btn"><i class="fas fa-shopping-cart text-primary mr-1"></i>افزودن به سبد خرید</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop End -->


{% endblock content %}