{% extends 'partials/blank.html' %}

{% load static %}

{% block content %}
        <div class="container-fluid bg-secondary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
                {% if query %}
                    <h1 class="font-weight-semi-bold text-uppercase mb-3">{{query}}</h1>
                {% else %}
                    <h1 class="font-weight-semi-bold text-uppercase mb-3">محصولات</h1>
                {% endif %}    
                <div class="d-inline-flex">
                    
                    <!-- <p class="m-0">{{query}}</p> -->
                </div>
                <div class="d-inline-flex">
                    <p class="p-left">{{products.count}} محصول </p>
                    
                </div>
            </div>
        </div>
        <div class="container-fluid pt-5">

            <div class="row px-xl-5 pb-3">
                <!-- --------------------------------------------------------------------- -->
                {% for p in products  %}                

                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <a href="{% url 'core:product-detail' p.pid %}">
                                <img class="img-fluid w-100" src="{{ p.image.url }}" alt="">
                            </a>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{ p.title }}</h6>
                            <p class="text-truncate mb-3">دسته بندی: {{ p.category }}</p>

                            <div class="d-flex justify-content-center">
                                <h6>{{ p.price }} <sup> {{ p.get_precentage|floatformat:0 }}%</sup> </h6><h6 class="text-muted ml-2"><del>{{ p.old_price }}</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>جزییات</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>افزودن به سبد خرید</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}