
<!-- <form action="", method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">register</button>
</form> -->


{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> sign-up / sign-in form</title>
  <link rel="stylesheet" href="{% static 'sign-up/style.css' %}">
  <link href="{% static 'img/faviconimage.png' %}" rel="icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <!-- <img src="{% static 'img/desktop.png' %}" alt=""> -->
  <div class="container">
    <div class="sign-up-container">
      <form action = "", method="POST">
        {% csrf_token %}
        <h1>ثبت نام</h1>
        &nbsp;
        {{form.username}}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}


        {% if form.errors %}
        <div class = "alert  aler-danger">
            <strong>{{form.errors}}</strong>
        </div>
        {% endif %}
        
        <!-- <div class="social-links">
          <div>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div> -->
        <!-- <span>or use your email for registration</span> -->
        <!-- <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password"> -->
        <button type="submit" class="form_btn">ثبت نام</button>
        <a href="{% url 'userauths:sign-in' %}"><h6 >قبلا ثبت نام کردی؟</h6></a>
      </form>
      
    </div>
    
    <div class="sign-in-container">
      <img src="{% static 'img/dd3.png' %}" alt="">
    </div>
    <div class="overlay-container">
      <div class="overlay-left">
        
        <img src="{% static 'img/dd3.png' %}" alt="">
        
        <!-- <button formaction="{% url 'userauths:sign-in' %}" id="" class="">ورود کن</button> -->
        <!-- <a class="a1" href="{% url 'userauths:sign-in' %}">ورود</a> -->
      </div>
      <div class="overlay-right">
        <h1>Hello, Friend</h1>
        
        <button id="signUp" class="overlay_btn">ثبت نام</button>
      </div>
    </div>
  </div>
</div>
 <!-- partial -->
  <script  src="{% static 'sign-up/script.js' %}"></script>

</body>
</html>